.watch{
    margin-top: 100px;
    width: 260px;
    height: 400px;
    background-color: red;

    .watch_img{
        width: 100%;
        height: 50%;

        &>img{
            width: 100%;
            height: 100%;
        }
    }
}