@media (max-width:768px) {
    .nav-link {
        display: none;
    }

    .nav-mobile-link {
        /* width: 300px; */
        text-align: left;
        margin-top: 120px;
        display: block;
        list-style: none;
        width: 50%;
        background-color: white;
        color: black;
        left: 0;
        position: fixed;
        z-index: 100;
    }

    .nav-mobile-link li {
        margin-left: 0;
        list-style: none;
        outline: none;
        font-weight: 500;
        text-align: center;
        border: 1px solid black;
        color: black;
        padding: 12px;
        transition: all 0.5 ease-in-out;
        width: 100%;
    }

    .mobile {
        position: absolute;
        display: block;
        right: 20px;
    }

    .left {
        display: none;
    }

    .n {
        display: none;
    }

    .firstnavbar_in {
        display: flex;
        justify-content: center;
        background-color: rgba(240, 240, 240, 1);
    }

    .sosial {
        display: inline-block;
        color: rgb(80, 80, 80);
    }

    .twonavbar_img img {
        width: 150px;
        height: 44px;
    }

    .twonavbar_search,
    .search {
        display: none;
    }

    .search-mobile {
        display: inline-block;
    }

    .search-mobile input {
        width: 500px;
        height: 44px;
        border: 1px solid white;
        background-color: red;
    }

    input[type="text"]::placeholder {
        color: white;
    }

    .search-icon {
        display: inline-block;
        margin-left: -30px;
        width: 80px;
        height: 44px;
        border: 1px solid white;
        border-left: none;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: red;
    }

    .search-icon svg {
        width: 30px;
        height: 30px;
        color: white;
        margin-right: 16px;
    }

    .shop {
        display: none;
    }

    .twonavbar {
        align-items: center;
        height: 70px;
    }

    .twonavbar_in {
        height: 70%;
    }

    .twonavbar_img {
        margin-left: -40%;
    }

    .Hamburger {
        width: 30px;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .mobile {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .sho {
        display: block;
        width: 30px;
        height: 30px;
    }

    .sho svg {
        width: 30px;
        height: 30px;
    }

    .hi-chevron-down {
        display: none;
    }
    .bs-chevron-right{
        display: inline-block;
        margin-left: 40px;
    }
}